/*колір основного тексту #757575*/
/*додатковий колір тексту #212121*/
/*акцент #2196F3*/
/*білий #FFFFFF*/
/*background #2F303A*/
/*secondary-background #F5F4FA*/
/*portfolio-project-border #EEEEEE*/
/*hero-button-fokus #188CE8*/

/*root*/
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;

    --accent-color: #2196F3;
    --white: #FFFFFF;

    --background: #2F303A;
    --secondary-background: #F5F4FA;

    --portfolio-project-border: #EEEEEE;
    --hero-button-fokus: #188CE8;
    --border-header: #ECECEC;
    --svg-color: #AFB1B8;
}

/*reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
   margin-top: 0; 
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
} 
.list  {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}

/*body*/
body {
    background-color: var(--white);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

/*header*/
.container-header {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid var(--border-header);
}

/*logo*/
.logo {
    margin-right: 93px;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.logo-part {
    color: var(--accent-color);
}

/*nav*/
.site-nav {
    display: flex;
}
.site-nav .item:not( :last-child) {
    margin-right: 50px;
} 
.site-nav .link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color); 
    padding-top: 32px;
    padding-bottom: 32px;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

/*contacts*/
.contacts-header {
    display: flex;
    margin-left: auto;
}
.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}
.contacts-header .item + .item {
    margin-left: 50px;
}
.contacts-header .link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.contacts-header .link:hover, 
.contacts-header .link:focus{
    color: var(--accent-color);
}

/*main*/
.section {
    padding: 94px 0; 
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/*hero section*/
.hero-section {
    max-width: 1600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;   
    background-color: var(--background);
}
.overlay {
    height: 600px;
    
    margin-left: auto;
    margin-right: auto;
    
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bghero.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
    text-transform: uppercase;
    color: var(--white);
}
.button {
    min-width: 216px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;

    background-color: var(--accent-color);
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875; 
    letter-spacing: 0.06em;  
}
.button:hover,
.button:focus {
    background-color: var(--hero-button-fokus);
}

/*features section*/
.features {
    padding-bottom: 0;
}
.features-list {
    display: flex;
    justify-content: space-between;
}   
.feature-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    background-color: var(--secondary-background); 
}
.feature-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.description {
    max-width: 270px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*work section*/
.work {
    display: flex;
    justify-content: space-between;
}
.work-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/*team section*/
.team {
    background-color: var(--secondary-background);
}
.team-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-member {
    max-width: 270px;
    height: auto;
    background: var(--white);
/* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-foto{
    margin-bottom: 30px;
}
.team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

/*team member socials*/
.team-section .socials {
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.team-section .socials-link {
    background-color: var(--white);
    fill: var(--primary-text-color);
}
.team-section .socials-link:hover,
.team-section .socials-link:focus {
    background-color: var(--accent-color);
    fill: var(--white);
}

/*clients*/
.container .clients {
    display: flex;
    flex-direction: column;
}
.clients {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.company {
    display: flex;
    gap: 30px;
}
.company-item {
    width: 170px;
    height: 92px;
}
.company-link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;

    fill: var(--svg-color);
    background-color: var(--white);
    border: 1px solid var(--svg-color);
    border-radius: 4px;      
}
.company-link:hover, 
.company-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

/*footer containers*/
.footer {
    background-color: var(--background);
}
.footer .container {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
}
.container-socials .container-adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}
.container-adress {
    margin-right: 70px;
}

/*logo footer*/
.logo-footer {
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white);
}

/*location*/
.location {
    display: block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;    
    text-decoration: none;
    color: var(--white);
}
.contacts-footer .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.contacts-footer .link:hover, 
.contacts-footer .link:focus{
    color: var(--accent-color);
}
.adress-element:not(:nth-child(3n)) {
    margin-bottom: 9px;
}

/*socials footer*/
.socials-invite {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}
.socials {
    display: flex;
    align-items: center;
    gap: 10px;
}
.socials-item {
    width: 44px;
    height: 44px;
}
.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;

    border-radius: 50%;
    fill: var(--white);
    background-color: rgba(255, 255, 255, 0.1);     
}
.socials-link:hover, 
.socials-link:focus {
    background-color: var(--accent-color);
}


/*portfolio*/
.project {
    display: flex;
    justify-content: center;   
    margin-bottom: 50px;
}
.project .item:not( :last-child) {
    margin-right: 8px;
}
.filter-button {
    padding: 6px 25px;
    min-width: 73px;
    background-color: var(--secondary-background);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625; 
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--white);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-project {
    max-width: 370px;
    height: 404px;
    background: var(--white);

    border-bottom: 1px solid var(--portfolio-project-border);

    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio-project:nth-child(3n) {
    margin-right: 0;
}
.portfolio-project:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.portfolio-link {
    display: flex;
    
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.portfolio-link:hover,
.portfolio-link:focus{
border: 1px solid #EEEEEE;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
            0px 4px 4px rgba(0, 0, 0, 0.06), 
            1px 4px 6px rgba(0, 0, 0, 0.16);
}
.foto-project {
    margin-bottom: 20px;
}

.name-project {
    padding-left: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
}
.type-project {
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--primary-text-color);
}